* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    font-size: 5rem;
    display: grid;
    place-content: center;
    background-color: darkturquoise;
  }

  .counter-section{
      background: linear-gradient(to bottom, #9C27B0, #360fdf);
  }

  .timer-section{
      background: linear-gradient(to top, red, yellow);
  }

  input,
  button {
    font: inherit;
    padding: 0.5rem;
  }
  
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 45vw;
    float: left;
  }
  
  section h3{
    text-shadow: 1px 1px 4px snow;
    margin-bottom: 50px;
  }

  input {
    text-align: center;
    max-width: 2.5em;
  }
  
  button {
    font-size: 1.5rem;
    margin: 1em;
    min-width: 2em;
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
  }
  

  
